
/* Styling for the card */
.card {
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Add shadow to cards */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2); /* Stronger shadow on hover */
}

/* Background color for card images */
.card-img-top {
  height: 250px;
  object-fit: cover;
  border-radius: 6px 6px 0 0;
}

/* Add some padding and styling to the card body */
.card-body {
  background-color: #1A3636; /* White background for the body */
  border-radius: 6px 6px 6px 6px;
 
}

.card-body h5 {
  color: #007bff; /* Blue text for the title */
}

.card-body p {
  font-size: 14px; /* Smaller font size for description */
  color: #D6BD98; /* Dark grey text for description */
}

.card-body a {
  background-color: #aace0d; /* Blue background for the button */
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}

.card-body a:hover {
  background-color: #4cc510; /* Darker blue on hover */
}

/* Optional: Background color for each project title */
.card-body h5 {
  color: #0b78ed; /* Change text color of the title */
}

/* Image Styling */
.logo {
  max-width: 80%;
  border-radius: 10px;
  object-fit: cover;
}

/* Mobile styling */
@media (max-width: 780px) {
  .logo {
    max-width: 90%;
  }
}
